@model MVC_Group_Project.Models.SubCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.cat.ImagePath)*@
            @*Category Image*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.cat.ImagePath)*@
            @*<img src="../../@Html.DisplayFor(model => model.cat.ImagePath)" style="height:150px; width:150px" />*@
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SubCategoryName)*@
            SubCategory
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ImagePath)*@
            Image
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ImagePath)*@
            <img src="../../@Html.DisplayFor(model => model.ImagePath)" style="height:150px; width:150px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
