@model MVC_Group_Project.Models.Transactions

@{
    ViewBag.Title = "Update Transactions";
}

<h1>Transactions</h1>
<hr />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/alertifyjs/alertify.js"></script>
<link href="~/Scripts/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="~/Scripts/alertifyjs/css/themes/default.css" rel="stylesheet" />

@if (ViewData["UpdateStatus"] == "There are no expired items to update.")
{
    <br />
    <h2>There are no expired items to update.</h2>
    <script>
        alertify.alert("There are no expired items to update!");
    </script>
}
else if (ViewData["UpdateStatus"] == "There are no items that have bids.")
{
    <br />
    <h2>There are no items that have bids.</h2>
    <script>
        alertify.alert("There are no items that have bids!");
    </script>
}
else if (ViewData["UpdateStatus"] == "Items Sold/Expired")
{
    <br />
    <h2>All expired items are now updated.</h2>
    <script>
            alertify.alert("All expired items are now updated!");
    </script>
}
else if (ViewData["UpdateStatus"] == "All items has been sold.")
{
    <br />
    <h2>All items has been sold or expired!</h2>
    <script>
            alertify.alert("All items has been sold or expired!");
    </script>
}

@section Scripts{
    @Scripts.Render("~/Scripts/alertifyjs/alertify.js")

}