@model MVC_Group_Project.Models.Transactions

@{
    ViewBag.Title = "Update Transactions";
}

<h1>Transactions</h1>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>
<link href="~/Scripts/alertify.js-0.3.11/themes/alertify.bootstrap.css" rel="stylesheet" />
<link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
<link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />

@if (ViewData["UpdateStatus"] == "There are no expired items to update.")
{
    <br />
    <h2>There are no expired items to update.</h2>
    <script>
    $(document).ready(function () {
        alertify.alert("There are no expired items to update.");
    });
    </script>
}
else if (ViewData["UpdateStatus"] == "There are no items that have bids.")
{
    <br />
    <h2>There are no items that have bids.</h2>
    <script>
    $(document).ready(function () {
        alertify.alert("There are no items that have bids.");
    });
    </script>
}
else if (ViewData["UpdateStatus"] == "Items Sold/Expired")
{
    <br />
    <h2>All expired items are now updated.</h2>
    <script>
        $(document).ready(function () {
            alertify.alert("All expired items are now updated.");
        });
    </script>
}
else if (ViewData["UpdateStatus"] == "All items has been sold.")
{
    <br />
    <h2>All items has been sold.</h2>
    <script>
        $(document).ready(function () {
            alertify.alert("All items has been sold.");
        });
    </script>
}

@section Scripts{
    @Scripts.Render("~/Scripts/alertify.js-0.3.11/src/alertify.js")

}